Listas\Lista 2 - Árvores binárias e AVL\A. Árvore Genealógica do CIN\Árvore Genealógica do CIN - Código.py
Listas\Lista 2 - Árvores binárias e AVL\B. Coffee Coke\Coffee Coke - Código.py
Listas\Lista 2 - Árvores binárias e AVL\C. Ajude o professor\Ajude o professor - Código.py
