Listas/Lista 3 - Hashing ✅/A. CIn 90º ✅/Código - L3QA.py
Listas/Lista 3 - Hashing ✅/B. O anagrama futebolístico ✅/Código - L3QB.py
Listas/Lista 3 - Hashing ✅/C. Brazino é o jogo da galera ✅/Código - L3QC.py